# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
.env/

# VS Code
.vscode/

# Streamlit cache
.streamlit/secrets.toml

# Model cache
*.joblib

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
temp/

models/best_aqi_model.pkl